@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Raleway:wght@400;700&display=swap');
@import '../components/layout.css';

@font-face {
  font-family: "Memphis LT Std";
  src: url("../fonts/memphis.woff2");
}

a,a:hover,a:click, a:visited {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}
